{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ Training Parameter Setting ] start-->
                        <script>
                            function updateInput(id, val) {
                                document.getElementById(id).value=val;
                            }
                        </script>
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Training Parameter</h5>
                                </div>
                                <form method="POST">
                                    <div class="row">
                                        <div class="col-md-6" style="padding-left: 30px">
                                            <label for="force">Required Force</label>
                                            <input type="range" class="custom-range" min="0" max="64" step="0.01" id="force" onchange="updateInput('input_force', this.value);">
                                            <label for="distance">Required Distance</label>
                                            <input type="range" class="custom-range" min="0" max="32" step="0.01" id="distance" onchange="updateInput('input_distance', this.value);">
                                            <label for="time_window">Allowable Time Window</label>
                                            <input type="range" class="custom-range" min="0" max="360" step="1" id="time_window" onchange="updateInput('input_time_window', this.value);">
                                        </div>
                                        <div class="col-md-6" style="padding-right: 30px; padding-top: 25px">
                                            <div class="input-group input-group-sm mb-3">
                                                <input type="number" name="input_force" id="input_force" min="0" max="64" step="0.01" value="32.00" onchange="updateInput('force', this.value);" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">N</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <input type="number" step="0.01" name="input_distance" id="input_distance" min="0" max="32" value="16.00" onchange="updateInput('distance', this.value);" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">cm</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-3">
                                                <input type="number" step="1" name="input_time_window" id="input_time_window" min="0" max="360" value="180" onchange="updateInput('time_window', this.value);" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">s</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 5px">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--[ Training Parameter Setting ] end-->
                        <!--[ Real Time Data ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Real Time Data</h5>
                                </div>
                                <div class="card-block">
                                    <div id="morris-bar-chart" style="height:300px"></div>
                                </div>
                            </div>
                        </div>
                        <!--[ Real Time Data ] end-->
                        <!--[ Participant Info ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Participant Info</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Isabella Christensen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Mathilde Andersen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply text of…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>11 MAY 10:35</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-3.jpg" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Karla Sorensen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>9 MAY 17:38</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Ida Jorgensen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply text of…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted f-w-300"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>19 MAY 12:56</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Albert Andersen</h6>
                                                        <p class="m-0">Lorem Ipsum is simply dummy…</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>21 July 12:56</h6>
                                                    </td>
                                                    <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!" class="label theme-bg text-white f-12">Approve</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Participant Info ] end-->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/static/assets/js/pages/chart-morris-custom.js"></script>
{% endblock javascripts %}
