{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">
{% endblock stylesheets %}

{% block content %}

<!--declare min/max input range for elements-->
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ Real Time Data ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Real Time Data</h5>
                                </div>
                                <div class="card-block">
                                    <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text">Remaining Time</span>
                                    </div>
                                    <input type="number" id="remain_time" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">S</span>
                                    </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <label for="force-chart">Pull Force</label>
                                    <div id="force-chart" class="ChartShadow" style="height:150px"></div>
                                    <label for="velocity-chart">Pull Velocity</label>
                                    <div id="velocity-chart" style="height:150px"></div>
                                    <label for="distance-chart">Pull Distance</label>
                                    <div id="distance-chart" style="height:150px"></div>
                                    <label for="completions-chart">Completion</label>
                                    <div id="completions-chart" style="height:150px"></div>
                                    <button id="interrupt" class="btn btn-primary">Interrupt</button>
                                </div>
                            </div>
                        </div>
                        <!--[ Real Time Data ] end-->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/static/assets/js/pages/line-chart.js"></script>
{% endblock javascripts %}
